* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ====== Colors ====== */
    --primary-color: hsl(45, 54%, 58%);
    --bg-color: hsl(0, 0%, 7%);
    --surface-color: hsl(0, 0%, 30%);
    --panel-color: hsl(0, 0%, 22%);
    --text-color: #ffffff;
    --outline-color: hsl(45, 100%, 72%);
    --border-color: #e6e5e5;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;

    /* ====== borders ====== */
    --brd1-: 1px solid red;
    --brd2-: 1px solid blue;
    --brd3-: 1px solid green;

    --brd-radius: 25px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;

}

ul {
    list-style: none;
}

/* ====== Header ====== */

aside {
    height: 100vh;
    min-height: 900px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====== Profile ====== */

.profile {
    width: 250px;
    border-radius: var(--brd-radius);
    margin: 32px;
    background-color: var(--panel-color);
}

.seperator {
    background-color: var(--surface-color);
    height: 2px;
    width: 200px;
    margin: 16px auto;
    border-radius: 24px;
}

/* ====== Top ====== */

.profile-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 16px;
}

.profile-top figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--surface-color);
}

.profile-top figure img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
}

.profile-top h1 {
    font-size: 2rem;
    flex-wrap: nowrap;
}


.profile-title {
    background-color: var(--surface-color);
    padding: 2px 12px;
    border-radius: 8px;
}

.profile-title p {
    font-size: .8rem;
}


/* ====== Info ====== */

.profile-info {
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-items {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 20px;
}

.info-items li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.info-icon {
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.info-icon i {
    font-size: 20px;
    margin: 8px;
}

.info-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.profile-info :is(.info-link, a, time, address) {
    color: white;
    font-size: 12px;
}

.profile-info address {
    font-style: normal;
}

.profile-info .info-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info-socials li {
    background-color: var(--surface-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.info-socials li i {
    font-size: 20px;
    margin: 8px;
}

.cv-btn {
    width: 250px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--panel-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 50px;
}


main {
    width: 100%;

    border-radius: var(--brd-radius);
    background-color: var(--panel-color);
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 16px;

}